<!-- -->
<launch>

	<!-- pure pursuit -->
	<arg name="is_linear_interpolation" default="True"/>
	<arg name="publishes_for_steering_robot" default="False"/>
	<arg name="vehicle_info/wheel_base" default="2.7"/>

	<!-- waypoint loader -->
	<arg name="waypointFilePath" default="/home/yimeng/Documents/waypoints/waypoints_0413_1.txt" />

	<!-- pure_pursuit -->
	<node pkg="waypoint_follower" type="pure_pursuit" name="pure_pursuit" output="log">
		<param name="is_linear_interpolation" value="$(arg is_linear_interpolation)"/>
		<param name="publishes_for_steering_robot" value="$(arg publishes_for_steering_robot)"/>
		<param name="vehicle_info/wheel_base" value="$(arg vehicle_info/wheel_base)"/>
	</node>

	<!-- waypoint loader -->
	<node pkg="waypoint_follower" type="loadWaypoints.py" name="waypoint_loader" output="screen">
	    <param name="waypointFilePath" value="$(arg waypointFilePath)" />
	</node>

</launch>
